@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #6366f1;

  --color-accent: #4f46e5;
  --color-accent-light: #818cf8;
  --color-accent-hover: #6366f1;

  --color-background: #f9fafb;
  --color-card: #ffffff;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;
  --color-danger: #ef4444;

  --color-sidebar: #111827;

  --font-inter: "Inter", sans-serif;
}
